altair
altgraph
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
filelock
fonttools
fsspec
gitdb
GitPython
gmpy2
idna
importlib_metadata
importlib_resources
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
mkl-fft
mkl-random
mkl-service
mpmath
networkx
numpy
packaging
pandas
pefile
pillow
pip
protobuf
pyarrow
pydeck
Pygments
pyinstaller
pyinstaller-hooks-contrib
pyparsing
PyQt5
pyqt5-plugins
PyQt5-Qt5
PyQt5_sip
pyqt5-tools
python-dateutil
python-dotenv
pytz
pywin32-ctypes
qt5-applications
qt5-tools
referencing
requests
rich
rpds-py
seaborn
setuptools
six
smmap
streamlit
sympy
tenacity
toml
toolz
torch
tornado
typing_extensions
tzdata
urllib3
watchdog
wheel
zipp
